$grey:#353034;
$white:hsl(0, 0%, 100%);
$white-ter:hsl(0, 0%, 96%);
$body-background:$white-ter;

$primary:#FF0074;
$link: #FF0074;
$font-family:"Bariol Bold";
$font-family-url:"Bariol_Bold.woff";
$font-family-format:"woff";
$tabs-link-color: $grey;
$tabs-link-active-color: $grey;
$modal-content-width: 75%;
$modal-z: 10;